.col-xs-8.col-sm-8.col-md-8.col-lg-8
    h2 Change password
    form#passChange(action='', method='post')
        .form-group
            input#opass.form-control(type='password', name='opass', placeholder='Old Password', required='')
        .form-group
            input#passwordN.form-control(type='password', name='passwordN', placeholder='New Password', required='')
        .form-group
            input#passwordN2.form-control(type='password', name='passwordN2', placeholder='Confirm Password', required='')
        |
        button.btn.btn-primary.btn-lg.btn-block(type='submit', name='chPass') Confirm

    #errRow.row.margTopBig(style='display:none')
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
        #errRowInner.alert.alert-danger.col-xs-8.col-sm-8.col-md-8.col-lg-8
    #succRow.row.margTopBig(style='display:none')
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
        #succRowInner.alert.alert-success.col-xs-8.col-sm-8.col-md-8.col-lg-8
