body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.btn-default{
	font-size: 80px;
}
.largeTextC{
	font-size: 90px;
	text-align: center;
	margin: 0 auto;
}
.textC{
	text-align: center;
}
.navPadTop{
	padding: 10px 0;
}
.headPadTop{
	padding: 40px 0;
}
#jscb{
	text-align: center;
	width: 730px;
	height: 585px;
	margin: 0 auto;
}
.noMargin{
	margin: 0px 0px;
}
.avPic{
	margin-right: 15px;
}
.bgRed{
	background-color:red;
}
.bgBlue{
	background-color:blue;
}
.nbRight{
	min-height: auto;
    margin-bottom: 0px;
}
.dropdown-toggle:focus {
    outline: none;
}
a.noULOH{
	text-decoration: none;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.sidebar {
	position: auto;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a, .nav-sidebar > li > div{
  padding-right: 20px;
  padding-left: 20px;
}
.chAvPad{
	padding: 20px 0;
}
.imgPt{
	cursor:pointer;
	border: 8px solid transparent;
}
.imgPt:hover{
	border: 8px solid #7b93a9;
}
.activeImgAv{
	border: 8px solid #7b93a9;
}
.activeImgAvT{
	border: 8px solid lightblue;
}
.frounded{
	background-color: #e1e5e8;
	margin: 10px;
	border-radius: 5%/50%;
	border: 5px solid #7b93a9;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
	color: black;
    text-decoration: none;
    background-color: #e1e5e8;
}
.friendstc{
	color: #3f3f44;
	border-bottom: #7b93a9 solid 1px;
}
.unBord{
	border: 0px;
}
.frimage{
	width: 30px;
	margin-right: 10px;
}
.frstatus{
	width: 12px;
	position:absolute;
    top:0;
    bottom:0;
	right:5%;
    margin:auto;
}
.margTop{
	margin-top: 10px;
}
.btn>img{
	width: 100%;
	height: 100%;
}
